@tailwind base;
@tailwind components;
@tailwind utilities;


button :hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='41' height='49' viewport='0 0 100 100' style='fill:black;font-size:25px;'><text y='50%'>🚀</text></svg>") 16 0,auto; /*!emojicursor.app*/
}



p {
  display: inline;
  background-repeat : no-repeat;
  transition: all 500ms ease-in-out;
  text-decoration-thickness: 5px;
background-position :left ;
background-size : 0% 100%;
background-image :linear-gradient(rgb(76 29 149), rgb(153, 103, 228))
}
p :hover{

  background-size: 100% 100%}


.title{
    text-shadow: 0 0 0.125em rgb(192 38 211 / 0.5), 0 0 0.45em currentColor;

}

  
text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: hsl(189, 49%, 62%);
    font-size: 120px;
    font-weight: 700;
    stroke-width: 3;
   
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }

 