@tailwind base;
@tailwind components;
@tailwind utilities;


#about{
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.title{
    text-shadow: 0 0 0.125em rgb(192 38 211 / 0.5), 0 0 0.45em currentColor;

}

  
text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: hsl(189, 49%, 62%);
    font-size: 120px;
    font-weight: 700;
    stroke-width: 3;
   
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }

  p{
    margin-bottom : 4em;
 display :inline;
      background-repeat : no-repeat ;
      transition : all 500ms ease-in-out;
    background-position: left;
    background-size: 0% 100%;
    background-image :linear-gradient(to right, rgb(21, 199, 155), rgb(21, 199, 155));
  }
p :hover{
   
    background-size :100% 100%}