.navbar{
   
    position: fixed;
    width: 100%;
    top: 0;
   z-index: 1;
    transition: 0.32 ease-in-out;
}

.navbar.scrolled{
padding: 0px 0;
background-color: #121212 !important;

}

#a-link{
    color:rgb(185, 39, 230); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

#a-link:hover{
    color: #9b27b085;
}
