@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
 
}
/* GTA Text */
main .title {
  text-shadow: 0 0 0.125em rgb(192 38 211 / 0.5), 0 0 0.45em currentColor;
}
/* Vice City Text */
main .cursive {
  font-family: "Satisfy", cursive;
  text-shadow: 0 0 0.125em rgb(192 38 211 / 0.5), 0 0 0.45em currentColor;
}
/* Reflection Color */
/* main #main_container::before {
        content: "";
        width:100%;
        height:100%;
        top:120%;
        left:0;
        position:absolute;
        transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
      } */

.wordCarousel {
  font-size: 36px;
  font-weight: 100;
  color: #eee;
}
.hello {
  position: relative;
  overflow: hidden;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
#text-li {
  font-family: Serif;
  color: #eee;
  font-weight: 700;
  height: 45px;
  margin-left: 10px;
  margin-bottom: 45px;
  display: block;
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 14s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -180px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
